<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>

      <service name="AutomationServer.ServerCommunication" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address ="http://localhost:2090/ServerCommunication"
               binding ="wsHttpBinding"
               contract ="AutomationCommon.ICommunication">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="AutomationCommon.ICommunication" />
      </service>
    </services>
  </system.serviceModel>-->

  <!--<system.serviceModel>
    <client>
      <endpoint address ="http://localhost:8090/ServerCommunication"
                binding ="wsHttpBinding"
                contract ="AutomationCommon.ICommunication">
      </endpoint>
    </client>
  </system.serviceModel>-->
</configuration>